.btn {
   position: relative;
   display: inline-block;
   text-decoration: none;
   
   padding: 1em 4em;
   border-radius: 10em;
   cursor: pointer;
   box-shadow: inset 0px -0.25em 0px 0px rgba(0, 0, 0, 0.2);

   transition: transform 125ms ease;
   transform-origin: bottom;
   
   &::after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      content: "";
      border-radius: inherit;
      box-shadow: inset 0px -0.325em 0px 0px rgba(0, 0, 0, 0.25);
      
      opacity: 0;
      transition: opacity 125ms ease 25ms;
   }

   &:hover {
      transform: scaleY(1.075);
      &::after {
         opacity: 1;
      }
   }

}
