body, h1, h2, p, ul, a {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

img, svg, use {
  display: block;
  max-width: 100%;
}

a {
  text-decoration-line: none;
}

p, a {
  font-family: "Open Sans";
  font-weight: 400;
}

h1, h2 {
  font-family: "Poppins";
  font-weight: 600;
}

.btn {
  display: inline-block;
  font-size: 1.29375rem;
  font-weight: 700;
  padding: 1em 4em;
  border-radius: 9999px;
  transition: filter 200ms ease;
}
.btn:hover {
  filter: opacity(0.8);
}

.clr-primary {
  color: hsl(322deg, 100%, 66%);
}

.bgc-primary {
  background-color: hsl(322deg, 100%, 66%);
}

.clr-white {
  color: hsl(0deg, 0%, 100%);
}

.bgc-white {
  background-color: hsl(0deg, 0%, 100%);
}

.clr-dark {
  color: hsl(192deg, 100%, 9%);
}

.bgc-dark {
  background-color: hsl(192deg, 100%, 9%);
}

.clr-light {
  color: hsl(193deg, 100%, 96%);
}

.bgc-light {
  background-color: hsl(193deg, 100%, 96%);
}

.clr-neutral {
  color: hsl(208deg, 11%, 55%);
}

.bgc-neutral {
  background-color: hsl(208deg, 11%, 55%);
}
