body, h1, h2, p, ul, a {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

img, svg, use {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration-line: none;
}

body {
  font-size: 1.125rem;
  font-family: "Open Sans", system-ui;
  font-weight: 400;
}

h1, h2 {
  font-family: "Poppins", system-ui;
  font-weight: 600;
}

.logo[data-type=primary] {
  fill: hsl(322deg, 100%, 66%);
}

.logo[data-type=secondary] {
  fill: hsl(0deg, 0%, 100%);
}

.link:hover {
  text-decoration-line: underline;
}

.btn {
  display: inline-block;
  font-size: 1.29375rem;
  font-weight: 700;
  padding: 1em 4em;
  border-radius: 9999px;
  transition: filter 222ms ease;
}
.btn:hover {
  filter: opacity(0.8);
}

.icon {
  width: 1.82475rem;
  height: 1.82475rem;
  color: hsl(0deg, 0%, 100%);
  padding: 0.616em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  fill: currentColor;
  overflow: visible;
  transition: color 222ms ease;
}
.icon:hover {
  color: hsl(322deg, 100%, 66%);
}

.clr-primary {
  color: hsl(322deg, 100%, 66%);
}

.bgc-primary {
  background-color: hsl(322deg, 100%, 66%);
}

.clr-white {
  color: hsl(0deg, 0%, 100%);
}

.bgc-white {
  background-color: hsl(0deg, 0%, 100%);
}

.clr-dark {
  color: hsl(192deg, 100%, 9%);
}

.bgc-dark {
  background-color: hsl(192deg, 100%, 9%);
}

.clr-light {
  color: hsl(193deg, 100%, 96%);
}

.bgc-light {
  background-color: hsl(193deg, 100%, 96%);
}

.clr-neutral {
  color: hsl(208deg, 11%, 55%);
}

.bgc-neutral {
  background-color: hsl(208deg, 11%, 55%);
}

.fs-100 {
  font-size: 0.619875rem;
}

.fs-200 {
  font-size: 0.756rem;
}

.fs-300 {
  font-size: 0.9225rem;
}

.fs-400 {
  font-size: 1.125rem;
}

.fs-500 {
  font-size: 1.3725rem;
}

.fs-600 {
  font-size: 1.674rem;
}

.fs-700 {
  font-size: 2.043rem;
}

.fs-800 {
  font-size: 2.491875rem;
}

.fs-900 {
  font-size: 3.040875rem;
}
