$fnt-primary: "Bai Jamjuree";

$base-size: 1.125rem;
$size-100: $base-size * 0.482;
$size-200: $base-size * 0.579;
$size-300: $base-size * 0.694;
$size-400: $base-size * 0.833;
$size-500: $base-size * 1.2;
$size-600: $base-size * 1.44;
$size-700: $base-size * 1.728;
$size-800: $base-size * 2.074;
$size-900: $base-size * 2.488;

$clr-primary-400: hsl(171, 66%, 44%);
$clr-secondary-400: hsl(233, 100%, 69%);
$clr-neutral-600: hsl(210, 10%, 33%);
$clr-neutral-300: hsl(201, 11%, 66%);
