*,
::after,
::before {
  box-sizing: border-box
}

blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
p {
  margin: 0
}

ol[role=list],
ul[role=list] {
  list-style: none
}

html:focus-within {
  scroll-behavior: smooth
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5
}

img,
picture {
  max-width: 100%;
  display: block
}

button,
input,
select,
textarea {
  font: inherit
}

@media (prefers-reduced-motion:reduce) {
  html:focus-within {
    scroll-behavior: auto
  }

  *,
  ::after,
  ::before {
    animation-duration: 0s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0s !important;
    scroll-behavior: auto !important
  }
}

:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-light-gray: hsl(212, 45%, 89%);
  --clr-grayish-blue: hsl(220, 15%, 55%);
  --clr-dark-blue: hsl(218, 44%, 22%);

  --fnt-main: "Outfit", sans-serif;

  font-size: 62.5%;
  font-family: var(--fnt-main);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--clr-light-gray);
}

.qr-code-card {
  background-color: var(--clr-white);
  padding: 1.6rem;
  border-radius: 1.6rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2.5rem;
}

.qr-code-card__code {
  border-radius: 1.5rem;
  max-width: 28.75rem;
}

.qr-code-card>h2 {
  font-size: 2.25rem;
  max-width: 18ch;
  font-weight: 700;
  color: var(--clr-dark-blue);
  line-height: 1.15;
}

.qr-code-card>p {
  font-size: 1.6rem;
  line-height: 1.15;
  max-width: 25ch;
  color: var(--clr-grayish-blue);
  padding-bottom: 1em;
}