@use "../base/variables" as *;

$colors: (
   "primary": $clr-primary,
   "white": $clr-white,
   "dark": $clr-dark,
   "light": $clr-light,
   "neutral": $clr-neutral,
);

@each $key, $value in $colors {
   .clr-#{$key} {
      color: $value;
   }

   .bgc-#{$key} {
      background-color: $value;
   }
}
