$base-size: 1.125rem;

$clr-primary: hsl(322, 100%, 66%);
$clr-light: hsl(193, 100%, 96%);
$clr-dark: hsl(192, 100%, 9%);
$clr-neutral: hsl(208, 11%, 55%);

$fnt-heading: "Poppins";
$fnt-body: "Open Sans";
