body, h1, h2, h3, p {
  margin: 0;
}

body {
  background-color: hsl(0, 0%, 98%);
  font-family: "Poppins", system-ui;
  min-height: 100vh;

  text-rendering: optimizeSpeed;
}

.hidden {
  position: absolute;
  opacity: 0;
  top: -999px;
}




/* 
  Tools 
*/

.tools-section {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5.2rem 2.1rem;
}

.tools-section header {
  margin-bottom: 4.7rem;
}


.tools-section h2 {
  color: hsl(234, 12%, 34%);
  font-weight: 200;
  font-size: 1.5rem;

  line-height: 1.55;
  letter-spacing: 0.01em;

  margin-bottom: .9rem;
}

.tools-section h2 strong {
  font-weight: 600;
}


.tools-section > header p {
  color: hsl(229, 6%, 66%);
  font-size: .95rem;
  line-height: 1.65;
  max-width: 50ch;
  margin-inline: auto;
}



.tools-grid {
  display: grid;
  gap: 1.5rem;
  text-align: left;
}

.tool-card {
  max-width: 18rem;
  padding: 1.3rem 1.6rem;
  background-color: white;
  border-radius: .333rem;
}

.tool-card > :first-child {
  font-size: 1.25rem;
  margin-bottom: .2em;
  color: hsl(234, 12%, 34%);
}

.tool-card > p {
  font-size: .8rem;
  margin-bottom: 2em;
  line-height: 1.7;
  color: hsl(229, 6%, 66%);
 
}

.tool-card > :last-child {
  display: block;
  height: 3.5rem;
  width: 3.5rem;

  margin-left: auto;

  padding: .5rem 0;
}



.tool-card:nth-child(1) {
  border-top: 4px solid hsl(180, 62%, 55%);
  box-shadow: 0 6px 12px hsla(180, 72%, 15%, 0.2);
}

.tool-card:nth-child(2) {
  border-top: 4px solid hsl(0, 78%, 62%);
  box-shadow: 0 6px 12px hsla(0, 53%, 15%, 0.2);
}

.tool-card:nth-child(3) {
  border-top: 4px solid hsl(34, 97%, 64%);
  box-shadow: 0 6px 12px hsla(33, 56%, 13%, 0.2);
}


.tool-card:nth-child(4) {
  border-top: 4px solid hsl(212, 86%, 64%);
  box-shadow: 0 6px 12px hsla(212, 56%, 16%, 0.2);
}




@media (min-width: 1000px) {
  .tools-section h2 {
    line-height: 1.4;
    font-size: 2.2rem;
  }
  
  .tools-section > header p {
    font-size: 1rem;
  }
  

  .tools-section header {
    margin-bottom: 3.7rem;
  }

  
  .tools-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
  }

  .tool-card {
    padding: 1.6rem 1.9rem;
  }
  
  .tool-card > :first-child {
    margin-bottom: .6em;
  }

  .tool-card > :last-child {
    height: 4.5rem;
    width: 4.5rem;
  }

  .tool-card:nth-child(1) {
    grid-column: 1;
    grid-row: 1 / 3;
  }
  
  .tool-card:nth-child(3) {
    grid-column: 2;
  }

  .tool-card:nth-child(4) {
    grid-row: 1 / 3;
    grid-column: 3;
  }
}