@use "../base/variables" as *;

.icon {
   width: $size-600;
   height: $size-600;

   color: $clr-white;
   fill: currentColor;
}

.icon[data-type="link"] {
   padding: $size-200;
   border: 2px solid currentColor;
   border-radius: 50%;

   overflow: visible;

   transition: color 222ms ease;
   &:hover {
      color: $clr-primary;
   }
}

.icon[data-type="marker"] {
   display: inline-block;
}
